<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
<!DOCTYPE html>
<html>
  <head>
    <title>Kodaly App</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application"%>
    <%= csrf_meta_tags %>
  </head>
  <body>
  
  <%= link_to "Kodaly App", root_path, id: "logo", class: "navbar-brand" %>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sign In <span class="caret"></span></a>
          <ul class="dropdown-menu">

            <li>  <button class="btn btn-block btn-social btn-google"> <i class="fa fa-google"></i> Sign in with Google </button></li>
            <li>  <button class="btn btn-block btn-social btn-facebook"> <i class="fa fa-facebook"></i> Sign in with Google </button></li>
            <li role="separator" class="divider"></li>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <li>Sign In</li>
            <li><%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %></li>
            <li><%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password"%></li>
            <% if devise_mapping.rememberable? -%>
              <li class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </li>
            <% end -%>
            <li><%= f.submit "Sign In", class: "btn btn-primary" %></li>
            <% end %>
  <li><%= link_to "Forgot your password?", new_password_path(resource_name) %></li>
          </ul>
        </li>
      </ul>
    </div> 
  </div>
</div>
    <% if notice %>
    <p class="notice alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
<script type="text/javascript">
  $(function () {
      $(".btn-google").click(function(){
        window.location = "<%= user_omniauth_authorize_path(:google_oauth2) %>"
      });

      $(".btn-facebook").click(function(){
        window.location = "<%= user_omniauth_authorize_path(:facebook) %>"
      });
  });
</script>
  </body>
</html>
